@import '../../theme/mixins.scss';

page-list {
  .sport-equipment {
    &__title {
      font-weight: bold;
    }
  
    &__info {
      @include flex();
      margin-top: 10px;
  
      &__img {
        width: 50px;
        height: 50px;
      }

      &__price-and-availability {
        @include flex(space-between, center, column);
        width: 100px;
      }
    }
  }
}
