<ion-header>
  <ion-navbar>
    <ion-title>Спортивный инвентарь</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button margin-top float-right ion-button (click)="openFilter()">
    <ion-icon name="options"></ion-icon>
  </button>
  <button margin-top ion-button (click)="openContactsPage()">
    <ion-icon name="contacts"></ion-icon>
  </button>
  <ion-list *ngIf="sportsEquipment.length > 0; else emptyList">
    <div *ngFor="let item of sportsEquipment" ion-item class="sport-equipment" (click)="itemTapped(item)">
      <div class="sport-equipment__title">{{item.title}}</div>
      <div class="sport-equipment__info">
        <ion-img src="{{item.preview}}" class="sport-equipment__info__img"></ion-img>
        <div class="sport-equipment__info__price-and-availability">
          <p>{{item.price}} руб</p>
          <p>{{item.availability}}</p>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ng-template #emptyList>
  <h5 margin-left>Ничего не найдено</h5>
</ng-template>
