<ion-header>
  <ion-toolbar>
    <ion-title> Фильтровать по </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="costForm" class="costForm">
    <ion-list-header>Цене</ion-list-header>
    <div class="costForm__inputs">
      <ion-input margin-right formControlName="minCost" type="number" min="0" placeholder="0"></ion-input>
      <ion-input type="number" formControlName="maxCost" min="0" placeholder="3332"></ion-input>
    </div>
  </form>
  <form [formGroup]="filterForm">
    <div *ngFor="let item of dataFilter">
      <ion-list-header>{{item.title}}</ion-list-header>
      <ion-item *ngFor="let control of item.controls">
        <ion-label>{{control.label}}</ion-label>
        <ion-checkbox formControlName="{{control.name}}"></ion-checkbox>
      </ion-item>
    </div>
  </form>
  <button margin-top ion-button (click)="dismiss()">Применить</button>
</ion-content>
