@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";

page-item-details {
  .selected-item {
    max-width: $max-width;
    margin: 0 auto;

    &__title {
      margin: 10px;
    }
  
    &__info {
      @include flex(center, center, column);
  
      @media #{$sm} {
        @include flex(flex-start, center, row);
      }
  
      &__img {
        width: 300px;
        height: 300px;
  
        @media #{$sm} {
          margin-right: 30px;
        }
      }

      &__specifications {
        width: 100%;
        @include flex(center, flex-start, column);
      }

      &__price-and-availability {
        @include flex(center, center, column);
      }
    }
  
    &__info > div {
      @media #{$sm} {
        margin-right: 30px;
      }
    }
  }
}
